<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="snail.app.flutter.google.flutter.google.pay">

    <application>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
